-- ============================================================================
-- S-IMSY Reporting ÔÇö Initial Admin User
-- ============================================================================
-- Generated by: scripts/create-admin-user.mjs
-- Generated at: 2026-02-15T17:29:36.667Z
--
-- Run this against the simsy_reporting database:
--   sudo -u postgres psql -d simsy_reporting -f admin-user.sql
-- ============================================================================

INSERT INTO auth_users (
    email,
    password_hash,
    salt,
    display_name,
    role,
    tenant_id,
    is_active,
    password_changed_at
) VALUES (
    'support@s-imsy.com',
    'kb/lgS8fo8N50SVbmLPhwXbNLbB+y60AfLfiTq0zaAE=',
    '8ZNlBnxWLkJY1W2e06cEAA==',
    'simsy-support',
    'admin',
    's-imsy',
    true,
    now()
)
ON CONFLICT ((lower(email))) DO NOTHING;

SELECT
    id,
    email,
    display_name,
    role,
    tenant_id,
    is_active,
    created_at
FROM auth_users
WHERE email_lower = 'support@s-imsy.com';

